.add-item-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.add-item-main {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.add-item-form {
  min-width: max-content;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.add-item-form label {
  margin-top: 10px;
}

.add-item-form input,
.add-item-form select,
.add-item-form textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  max-width: 100vh;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.add-item-form button {
  padding: 10px;
  margin-top: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.add-item-form button:hover {
  background-color: #3e8e41;
}

.add-item-form button:active {
  background-color: #3e8e41;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  transform: translateY(1px);
}

.add-item-form button:focus {
  outline: none;
}

.add-item-form .cancel-button {
  background-color: #f44336;
  margin-left: 10px;
}

.add-item-form .cancel-button:hover {
  background-color: #d32f2f;
}

.add-item-form .cancel-button:active {
  background-color: #d32f2f;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  transform: translateY(1px);
}

.add-item-form button.cancel:focus {
  outline: none;
}
