.account-info-page{
  width: 95%;
  margin: auto;
}
.account-info {
  margin: auto;
  display: flex;
  gap: 10px;
  position: relative;
  width: max-content;
  padding: 10px;
  border-radius: 7px;
  justify-content: space-around;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.profile-pic{
  border-radius: 7px;
}
.edit-account{
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50%;
}
.edit-account:hover{
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
  cursor: pointer;
}
.edit-account:active{
  color: #007bff;
}
.logout-button{
  position: absolute;
  bottom: 10px;
  right: 10px;
}
@media only screen and (max-width: 426px) {
  .account-info {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
  }
}