.item-card {
    display: flex;
    align-items: center;
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 7px;
    height: 200px;
}

.item-card-image {
    border-radius: 7px 0px 0px 7px;
    margin-right: 1rem;
    height: 100%;
    object-fit: cover;
    object-position: 25% 25%;
    width: 270px;
    overflow: hidden;
}

.item-card-content {
    flex: 1;
}

.item-card-name {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.item-card-description {
    font-size: 14px;
    color: #999;
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-card-price {
    font-size: 1.2rem;
    font-weight: bold;
}


.save-cancel-div {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}

.item-card-type {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1.5rem;
    color: white;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}