.cart-item {
    display: flex;
    align-items: center;
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 7px;
    height: 200px;
}

.cart-item-image {
    border-radius: 7px 0px 0px 7px;
    margin-right: 1rem;
    height: 100%;
    width: 150px;
    object-fit:cover;
    object-position: 25% 25%;
}
.cart-item-content{
    padding-bottom: 10px;
}
.cart-item-details {
    flex: 1;
}

.cart-item-name {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.cart-item-description {
    font-size: 14px;
    color: #999;
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cart-item-price {
    font-size: 1.2rem;
    font-weight: bold;
}

.cart-item-quantity {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.cart-item-quantity-label {
    font-size: 1rem;
    margin-right: 0.5rem;
}

.cart-item-quantity button {
    width: 2rem;
    font-size: 1rem;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.2rem;
    margin: 0.5rem;
    cursor: pointer;
}

.cart-item-remove-button {
    position: absolute;
    top: 50%;
    right: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 1rem;
}
.cart-item-quantity button:active,
.cart-item-remove-button:hover{
    opacity: 0.7;
    color: black;
}
