
/* pagination */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.pagination button {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #0069d9;
}

.pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.pagination span {
    margin: 0 0.5rem;
    font-size: 0.9rem;
    color: #333;
}

/* filter */
.filter-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px;
}

.filter-container label {
    margin-right: 10px;
    font-size: 16px;
}

.filter-container select {
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.filter-container select:hover {
    background-color: transparent;
    border: none;
}

.filter-container select:focus {
    outline: none;
}

@media only screen and (max-width: 768px) {
    .restaurant-main-div {
        grid-template-columns: repeat(1, 1fr);
    }
}