.item-card-container{    
    display: grid;
    grid-template-columns: repeat(2,1fr);
}


@media only screen and (max-width: 1024px) {
    .item-card-container {
        grid-template-columns: repeat(2,1fr);
    }
    .item-card-container .item-card-image{
        width: 200px;
    }
}
@media only screen and (max-width: 768px) {
    .item-card-container {
        grid-template-columns: repeat(1,1fr);
    }
    .item-card-container .item-card-image{
        width: 100px;
    } ;
}
@media only screen and (max-width: 426px) {

}
/* add item */
.add-item-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
  }
  
  .add-item-button button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }

  