nav {
    display: flex;
    justify-content: center;
    position: relative;
    font-family: Hack, monospace;
    background-color: seashell;
}

.menuItems {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    color: #727272;
}


.menuItems a {
    color: #555;
    text-decoration: none;
}

.menuItems a:hover {
    transform: scale(1.1);
    color: #326273;
}

.menuItems a.active {
    color: #5C9EAD;
    border-radius: 5px;
}

.menuItems a:hover::after {
    content: attr(data-item);
    display: block;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.nav-bar .cart-link{
    position: relative;
}
.nav-bar .cart-length{
    position: absolute;
    top: -10px;
    right: -10px;
}