nav {
    display: flex;
    justify-content: center;
    position: relative;
    font-family: Hack, monospace;
    background-color:seashell;
}

.menuItems {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    color: #727272;
}


.menuItems a {
    color: #555;
    text-decoration: none;
}

.menuItems a:hover {
    transform: scale(1.1);
    color: #326273;
}

.menuItems a.active {
    color: #5C9EAD;
    border-radius: 5px;
    padding: 5px 10px;
}